<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title>Travis Welch</title>

    <%= stylesheet_link_tag "tachyons", "all" %>
    <%= javascript_include_tag "imagesloaded.pkgd", "packery.pkgd", "all" %>
  </head>

  <body class="mw7 center">
    <div class="pam w-100">
      <h1 class="lh-title">Travis C. Welch</h1>
    </div>
    <div id="container">
      <% sitemap.resources.select {|r| r.path.include? "img/travis/" }.each do |r| %>
        <div class="item">
          <% link_to r.path do %>
            <%= image_tag r.path[4..-1], resize_to: "200", class: "thumbnail db" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </body>
</html>
